<%-include("partials/header.ejs")%>

<body>
    <% if (locals.post) { %>
        <title><%=post.title%></title>
        <h1><%=post.title%></h1>
        <p><%=post.content%></p>
    <% } %>
    <form action="/deletePost/<%=postid%>" method="post">
        <button id = "delete" type="submit" class="btn btn-primary btn-lg btn-danger">Delete</button>
    </form>
    <form action="/editPost/<%=postid%>" method="post">
        <button id = "edit" type="submit" class="btn btn-primary btn-lg btn-primary">Edit</button>
    </form>
    <script>
        $("#delete").click(function() {
            return confirm("Are you sure you want to delete this post?");
        });
    </script>
</body>
</html>